{% extends "layout.html" %}
{% block title %}ADD TRIP{% endblock%}
{% block content%}
<script>
    $(document).ready(function (e) {
        $('#upload').on('click', function () {
        var form_data = new FormData();
        var select = document.getElementById('select_bus');
		var option = select.options[select.selectedIndex];
        
        form_data.append("date", $('#date').val())
        form_data.append("time", $('#time').val())
        form_data.append("id_bus", $('#select_bus').val())
        form_data.append("id_trip", $('#id_trip').val())
        
        $.ajax({
            url: '/add_trip_instance_post', // point to server-side URL
            dataType: 'json', // what to expect back from server
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,
            type: 'POST',
            beforeSend: function(){
            $.LoadingOverlay('show', {
                background: 'rgba(200,200,200,0.6)',
                textResizeFactor: 0.15
            });
        },
            success: function (data) {
                    text = data['message']
                    Swal.fire(
                        'สำเร็จ',
                        text,
                        'success'
                    );
            },
            complete: () => {
                $.LoadingOverlay('hide')
                date = document.getElementById('date');
                date.value = '';
                time = document.getElementById('time');
                time.value = '';
                select.selectedIndex = 0
                window.location.reload();
            }
        });
    });
    return false;
});
</script>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">BUS Online Ticket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home_company/{{trip.company._id}}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login_page">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
    <div class="container mt-5">
        <div class="h3 text-center">ADD DATE TIME TRIP</div>
        <div class="card mt-3">
            <div class="card-header">
              <strong class="text-primary">เส้นทางการเดินทาง{{trip.departure_point }} - {{trip.destination_point }}</strong> 
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                            <strong>ต้นทาง: </strong>{{trip.departure_station }} 
                            <strong>-</strong>
                            <strong>ปลายทาง: </strong>{{trip.destination_station }}
                        <br>
                        <strong>ราคา {{trip.price}} บาท</strong>
                    </div>
                    <div>
                        <input type="date" class="btn btn-outline-primary text-dark" id="date"></input>
                    </div>
                    <div>
                        
                        <input type="time" class="btn btn-outline-primary text-dark" id="time" ></input>
                    </div>
                    <div>
                        <select class="form-select" aria-label="" id="select_bus">
                            {% for i in buss %}
                            <option value="{{i._id}}">{{i.bus_number}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <button id="upload" class="btn btn-primary">เพิ่มรอบการเดินทาง</button>
                        <input type="hidden" id="id_trip" value={{trip._id}}>
                    </div>
                </div>  
            </div>
          </div>
          <div class="h1 mt-5 text-center">DATA</div>
        
          {%for i in trip_instances%}
          <div class="card mt-3 mb-5">
              <div class="card-header ">
                <strong class="text-primary ">เส้นทางการเดินทาง{{i['trip'].departure_point }} - {{i['trip'].destination_point }}</strong> 
              </div>
              <div class="card-body">
                  <div class="d-flex justify-content-around">
                      <div class="">
                              <strong>ต้นทาง: </strong>{{i['trip'].departure_station }} 
                              <strong>-</strong>
                              <strong>ปลายทาง: </strong>{{i['trip'].destination_station }}
                          <br>
                          <strong>ราคา {{i['trip'].price}} บาท</strong>
                      </div>
                      <div class="text-center">
                        <strong>วันที่เดินทาง</strong><br> {{i.date}}
                      </div>
                      <div class="text-center">
                        <strong>เวลา</strong><br> {{i.time}}
                      </div>
                  </div>  
              </div>
            </div>
          {%endfor%}
    </div>
{% endblock %}





