{% extends "layout.html" %}
{% block title %}ADD TRIP{% endblock%}
{% block content%}
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">BUS Online Ticket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home_company/{{trips[0].company._id}}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login_page">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
    <div class="container mt-5">
        <div class="h1 text-center">ADD TRIP INSTANCE</div>
        {%for i in trips%}
        <div class="card mt-3">
            <div class="card-header">
              <strong class="text-primary">เส้นทางการเดินทาง{{i.departure_point }} - {{i.destination_point }}</strong> 
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="">
                            <strong>ต้นทาง: </strong>{{i.departure_station }} 
                            <strong>-</strong>
                            <strong>ปลายทาง: </strong>{{i.destination_station }}
                        <br>
                        <strong>ราคา {{i.price}} บาท</strong>
                    </div>
                    <div>
                        <a href="/add_trip_instance/{{i._id}}" class="btn btn-primary">เพิ่มรอบการเดินทาง</a>
                    </div>
                </div>  
            </div>
          </div>
        {%endfor%}
    </div>
{% endblock %}





