{% extends "layout.html" %}
{% block title %}ADD COMPANY{% endblock%}
{% block content%}
<script>
            $(document).ready(function (e) {
                $('#upload').on('click', function () {
                var form_data = new FormData();
                var ins = document.getElementById('multiFiles').files.length;
                 
                if(ins == 0) {
                    $('#msg').html('<span style="color:red">Select at least one file</span>');
                    return;
                }
                 
                for (var x = 0; x < ins; x++) {
                    form_data.append("files[]", document.getElementById('multiFiles').files[x]);
                }
                form_data.append("email", $('#email').val())
                form_data.append("password", $('#password').val())
                form_data.append("phone", $('#phone').val())
                form_data.append("fullname", $('#fullname').val())
                 
                $.ajax({
                    url: '/add_company_post', // point to server-side URL
                    dataType: 'json', // what to expect back from server
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'POST',
                    beforeSend: function(){
                    $.LoadingOverlay('show', {
                        background: 'rgba(200,200,200,0.6)',
                        textResizeFactor: 0.15
                    });
                },
                    success: function (data) {
                        if(data['message'] == "Email Not Unique"){
                            text = data['message']
                            $.LoadingOverlay('hide')
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: text
                            })
                        }
                        else{
                            text = data['message']
                            Swal.fire(
                                'สำเร็จ',
                                text + "<br>",
                                'success'
                            );

                            email = document.getElementById('email');
                            email.value = '';

                            password = document.getElementById('password');
                            password.value = '';

                            phone = document.getElementById('phone')
                            phone.value = '';

                            fullname = document.getElementById('fullname');
                            fullname.value = '';

                            img = document.getElementById('multiFiles');
                            img.value = '';
                        }
                    },
                    complete: () => {
                        $.LoadingOverlay('hide')
                        document.getElementById("myForm").reset();
                    }
                });
            });
            return false;
        });

</script>
    <div class="container mt-5">
        <div class="h5 mb-5  text-center">ADD COMPANY</div>
        <!-- <form action="POST"> -->
            <div class="mb-3">
            Email address
            <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
            Password
            <input type="password" class="form-control" id="password">
            </div>
           <div class="mb-3">
            Phonenumber
            <input type="text" class="form-control" id="phone">
           </div>
           <div class="mb-3">
            Name Compay
            <input type="text" class="form-control" id="fullname">
           </div>
           <div class="mb-3">
            Profile Company
            <input type="file" class="form-control" id="multiFiles" name="files[]">
           </div>
           <img src="" width="200" style="display:none;" />
                <br>
            <div id="disp_tmp_path"></div>
           <div class="d-grid pt-3">
            <!-- <input type="submit" class="btn btn-primary" value="ADD COMPANY"></input> -->
            <button id="upload" class="btn btn-primary">ADD COMPANY</button>
           </div>
          <!-- </form> -->
    </div>
{% endblock %}


