{% extends "layout.html" %}
{% block title %}ADD DRIVER{% endblock%}
{% block content%}
<script>
            $(document).ready(function (e) {
                $('#upload').on('click', function () {
                var form_data = new FormData();

                var select = document.getElementById('busnumber');
		        var option = select.options[select.selectedIndex];
                
                form_data.append("email", $('#email').val())
                form_data.append("password", $('#password').val())
                form_data.append("phone", $('#phone').val())
                form_data.append("fullname", $('#fullname').val())
                form_data.append("busnumber", $('#busnumber').val())
                form_data.append("idcompany",  $('#idcompany').val())
                $.ajax({
                    url: '/add_driver', // point to server-side URL
                    dataType: 'json', // what to expect back from server
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'POST',
                    beforeSend: function(){
                    $.LoadingOverlay('show', {
                        background: 'rgba(200,200,200,0.6)',
                        textResizeFactor: 0.15
                    });
                },
                    success: function (data) {
                            text = data['message']
                            Swal.fire(
                                'สำเร็จ',
                                text,
                                'success'
                            );
                    },
                    complete: () => {
                        $.LoadingOverlay('hide')

                        email = document.getElementById('email');
                        email.value = '';

                        select.selectedIndex = 0

                        password = document.getElementById('password');
                        password.value = '';

                        phone = document.getElementById('phone');
                        phone.value = '';

                        fullname = document.getElementById('fullname');
                        fullname.value = '';
                    }
                });
            });
            return false;
        });

</script>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">BUS Online Ticket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Anurak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registor">LOG OUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
    <div class="container mt-5">
        <div class="h5 mb-5  text-center">ADD DRIVER</div>
        <!-- <form action="POST"> -->
            <div class="mb-3">
            Email address
            <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
            Password
            <input type="password" class="form-control" id="password">
            </div>
           <div class="mb-3">
            Phonenumber
            <input type="text" class="form-control" id="phone">
           </div>
           <div class="mb-3">
            Full Name
            <input type="text" class="form-control" id="fullname">
           </div>
           <div class="mb-3">
            Bus Number 
            <select class="form-select" aria-label="" id="busnumber">
                {% for i in bus %}
                <option value="{{i.bus_number}}">{{i.bus_number}}</option>
                {% endfor %}
            </select>
           </div>
           <div class="d-grid pt-3">
            <!-- <input type="submit" class="btn btn-primary" value="ADD COMPANY"></input> -->
            <button id="upload" class="btn btn-primary">ADD DRIVER</button>
            <input type="hidden" id="idcompany" value={{id_company}}>
           </div>
          <!-- </form> -->
    </div>
{% endblock %}





