{% extends "layout.html" %}
{% block title %}HOME COMPANY{% endblock %}
{% block content %}
<script>
</script>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">BUS Online Ticket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Anurak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registor">LOG OUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
    <div class="container mt-5">
        <div class="h5 mb-5  text-center">HOME COMPANY</div>
            <!-- <h1>{{id_company}}</h1> -->
            <div class="d-grid mb-3"><a href="/add_bus/{{id_company}}" class="btn btn-primary">ADD BUS</a></div>
            <div class="d-grid mb-3"><a href="/add_driver/{{id_company}}" class="btn btn-primary">ADD DRIVER</a></div>
            <div class="d-grid mb-3"><a href="/add_trip/{{id_company}}" class="btn btn-primary">ADD TRIP</a></div>
            <div class="d-grid mb-3"><a href="/add_trip_instance_page/{{id_company}}" class="btn btn-primary">ADD TRIPINSTANCE</a></div>
            <!-- <div class="d-grid mb-3"><a href="#" class="btn btn-info text-light">ADD BUS</a></div>
            <div class="d-grid mb-3"><a href="#" class="btn btn-info text-light">ADD TRIP</a></div>
            <div class="d-grid mb-3"><a href="#" class="btn btn-info text-light">ADD DRIVER</a></div> -->
    </div>
{% endblock %}


