{% extends "layout.html" %}
{% block title %}HOME COMPANY{% endblock %}
{% block content %}
<script>
</script>
    <div class="container mt-5">
        <div class="h5 mb-5  text-center">HOME COMPANY</div>
            <!-- <h1>{{id_company}}</h1> -->
            <div class="d-grid mb-3"><a href="/add_bus/{{id_company}}" class="btn btn-primary">ADD BUS</a></div>
            <div class="d-grid mb-3"><a href="/add_driver/{{id_company}}" class="btn btn-primary">ADD DRIVER</a></div>
            <div class="d-grid mb-3"><a href="/add_trip/{{id_company}}" class="btn btn-primary">ADD TRIP</a></div>
            <div class="d-grid mb-3"><a href="/add_trip_instance_page/{{id_company}}" class="btn btn-primary">ADD TRIPINSTANCE</a></div>
            <!-- <div class="d-grid mb-3"><a href="#" class="btn btn-info text-light">ADD BUS</a></div>
            <div class="d-grid mb-3"><a href="#" class="btn btn-info text-light">ADD TRIP</a></div>
            <div class="d-grid mb-3"><a href="#" class="btn btn-info text-light">ADD DRIVER</a></div> -->
    </div>
{% endblock %}


