{% extends "layout.html" %}
{% block title %}ADD TRIP{% endblock%}
{% block content%}
<script>
            $(document).ready(function (e) {
                $('#upload').on('click', function () {
                var form_data = new FormData();
                var select_departure_point = document.getElementById('select_departure_point');
                var select_destination_point = document.getElementById('select_destination_point');
		        var option_departure_point = select_departure_point.options[select_departure_point.selectedIndex];
                var option_destination_station = select_destination_point.options[select_destination_point.selectedIndex];
                var user_id = $('#user_id').val()

                form_data.append("departure_point",  $('#select_departure_point').val())
                form_data.append("destination_point",  $('#select_destination_point').val())
                form_data.append("date", $('#date').val())
                $.ajax({
                    url: '/search_trip_instance', // point to server-side URL
                    dataType: 'json', // what to expect back from server
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'POST',
                    beforeSend: function(){
                    $.LoadingOverlay('show', {
                        background: 'rgba(200,200,200,0.6)',
                        textResizeFactor: 0.15
                    });
                },
                    success: function (data) {
                            count = data['count']
                            text = data['message']
                            if(count == 0){
                                $.LoadingOverlay('hide')
                                Swal.fire({
                                    icon: 'error',
                                    title: 'ขออภัย',
                                    text: text
                                })
                            }
                            else{
                                path = data['path']
                                window.location.href = '/'+user_id+'/searched_trip_instance/' + path
                            }    
                    },
                    complete: () => {
                        $.LoadingOverlay('hide')
                        select_destination_point.selectedIndex = 0
                        select_departure_point.selectedIndex = 0
                        date = document.getElementById('date');
                        date.value = '';
                    }
                });
            });

            return false;
        });

</script>
<!-- price, departure_point, destination_point, departure_point_station, destination_point_station,company -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">BUS Online Ticket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Anurak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registor">LOG OUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container mt-5">
        <div class="h5 mb-5  text-center">ค้นหาการเดินทาง</div>
            <div class="row text-center">
                <div class="col">
                <p class="mb-3">ต้นทาง</p>
                <select class="form-select" aria-label="" id="select_departure_point">
                    {% for i in departure_point %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="col">
                <p class="mb-3">ปลายทาง</p>
                <select class="form-select" aria-label="" id="select_destination_point">
                    {% for i in destination_point %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="col">
                <p class="mb-3">วันที่เดินทาง</p>
                <input type="date" class="form-control" id="date">
                </div>
            </div>
           <div class="d-grid pt-3">
            <button id="upload" class="btn btn-primary">ค้นหา</button>
            <input type="hidden" id="user_id" value={{user_id}}>
           </div>
    </div>
{% endblock %}





