{% extends "layout.html" %}
{% block title %}ADD DRIVER{% endblock%}
{% block content%}
<script>
            $(document).ready(function (e) {
                $('#upload').on('click', function () {
                var form_data = new FormData();
         
                form_data.append("buying_id", $('#buying_id').val())
                form_data.append("tranction_id", $('#tranction_id').val())
                form_data.append("user_id", $('#user_id').val())
                $.ajax({
                    url: '/paying', // point to server-side URL
                    dataType: 'json', // what to expect back from server
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'POST',
                    beforeSend: function(){
                    $.LoadingOverlay('show', {
                        background: 'rgba(200,200,200,0.6)',
                        textResizeFactor: 0.15
                    });
                },
                    success: function (data) {
                            text = data['message']
                            user_id = data['user_id']
                            Swal.fire(
                                'สำเร็จ',
                                text,
                                'success'
                            );
                            window.location.href = '/home_user/' + user_id
                    },
                    complete: () => {
                        $.LoadingOverlay('hide')
                    }
                });
            });
            return false;
        });

</script>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">BUS Online Ticket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home_user/{{buying['owner_id']}}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history_page/{{buying['owner_id']}}">HISTORY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login_page">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
    <div class="container mt-5">
        <div class="h2 mb-5  text-center"> ราคารวม : {{buying['amount']}}</div>
        <!-- <form action="POST"> -->
            <div class="text-center">
                <img src="{{ url_for('static', filename = 'uploads/FAKEQRCODE.png') }}" style="width: 300px;height:auto;">
            </div>
           <div class="mb-3">
            หมายเลขธุรกรรม/สลิปการโอนเงิน
            <input type="text" class="form-control mt-2" id="tranction_id">
           </div>
           <div class="d-grid pt-3">
            <!-- <input type="submit" class="btn btn-primary" value="ADD COMPANY"></input> -->
            <button id="upload" class="btn btn-primary">ยืนยัน</button>
            <input type="hidden" id="buying_id" value='{{buying['_id']}}'>
            <input type="hidden" id="user_id" value='{{buying['owner_id']}}'>
           </div>
          <!-- </form> -->
    </div>
{% endblock %}





